@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin:0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: 'Lato', sans-serif;
}

img{

  width: 336px;
  height: 189px;
  border-radius:10px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0,0.8);
    margin-bottom: -40px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    cursor: pointer;
  }
  
  li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  
  .dropbtn::after{
    content : " v";
    font-size: 15px;
    padding-top: -10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    margin-top: 60px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  header{
    background: url("Maisondevant-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 0px;
    background-color: #141414;
  }

  h1{
    text-align:center;
    font-size: 60px;
    padding: 150px;
    transition: transform 2.5s;
    color:rgb(0, 0, 0)
  }

  .visiteimg{
    padding-left: 150px;

  }