@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin:0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: 'Lato', sans-serif;
}


/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position:sticky;
  color :#fff;
  top: 0;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.8);
}
nav .onglets{
  display:flex;
  flex-wrap:wrap;
  margin-top: 10px;
  margin-left: 20px;
}

nav .onglets a {
  margin-right: 20px;
  cursor:pointer;
  color:white;
  text-decoration: none;
}

nav .onglets a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  }
nav .buttons button{
  padding: 13px 20px;
  color: #fff;
  border:none;
  font-size: 15px;
  cursor:pointer;
  outline:none;
}
nav .buttons .login{
  background-color: inherit;
  margin-right: 10px;
  color: #8f8f8f;
}
nav .buttons .register{
  background-color: #f54266;
}
/* Fin de la barre de navigation*/

.txtimage{
  margin-top: 0px;
  background: url("Maisondevant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px 0px;
  background-color: #141414;
}
h1{
  text-align:center;
  font-size: 60px;
  padding: 150px;
  transition: transform 2.5s;
  color:rgb(0, 0, 0)
}

footer{
  background-color: #1a1a1a;
  padding: 5px 5px;
  color:white;
  margin: 0px;
}