@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: brandon;
  src: url(font/BrandonText.otf);
}

body{
  background-color: rgb(255, 255, 255);
  margin:0px;
  margin-bottom: 0px;
}

nav {
  display: flex;
  font-family: 'Lato', sans-serif;
  background-color: rgba(38, 50, 58,0.9);
  flex-direction: row;
  position: sticky;
  z-index: 5;
}

nav > div{
  position : relative;
}

.visite::after{
  content: ' ▾';
  font-size: 16px;
}

nav div a {
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

nav div a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.submenu{
  display : none;
  background-color: #f9f9f9;
  position:absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav div:hover .submenu{
  display : block;
}

.submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.submenu a:hover {
  background-color: #f1f1f1;
  text-decoration : none;  
}

.burger{
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: white;
}

.burger a{
  text-decoration: none;
  color : black;
  font-size: 20px;
}

#menu2 div{
  border-top : 1px solid black;
  padding: 15px 0%;
}

#menu2{
  display: none;
  background-color: #ededeb;
}

.burger:hover #menu2{
  display: block;
  visibility: visible;
}

  h1{
    text-align:center;
    font-size: 60px;
    padding: 150px;
    transition: transform 2.5s;
    color:rgb(0, 0, 0)
  }

footer{
  background-color: #1a1a1a;
  padding: 5px 5px;
  color:white;
  padding-left: 50px;
  font-weight: bold;
}

.contenupage img{
  border-radius: 10px 10px;
  max-width: 950px;
  height: auto;
  width: 100%;
}

h2{
  font-family: 'brandon';
  font-size: 45px;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h3{
  font-family: 'brandon';
  font-size: 130%;
}

.boxes{
  display: flex;
  flex-direction: row;
  
}

.boxes div p{
  font-family: 'brandon';
  font-size: 14px;
}

.boxes div{
  display: flex;
  flex-direction: row;
  position: absolute;
  color : white;
  background-color: rgb(38, 50, 58);
  padding: 0.2% 0.5%;
  border-radius: 10px 10px;
  margin-top : -3%;
}
.boxmeteo {
  margin-left: 20%;
  flex-shrink: 1;
}

.boxactu{
  margin-left: 50%;
  flex-shrink: 2;
  
}

.contenupage a{
  margin-top: 50px;
  border-radius : 10px 10px;
  color:white;
  text-decoration: none;
  font-weight: bold;
  background-color: #1F85DE;
  font-family: 'brandon';
  display: inline-block;

}

.contenupage a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.blocimg{
  
  margin-left: 3%;
  margin-right: 3%;
}

.blocdroittxt{
  margin-left: 3%;
  margin-top: 8%;
}
.blocdroittxt a{  
  padding: 3% 7%;
}

.blocgauchetxt a{
  padding : 1.5% 5%;
}

.blocgauchetxt{
    margin-top: 7%;
    margin-right: 5%;
}

.blocgauche{
  display: flex;
  flex-direction: row;
  padding: 4.5% 0%;
}

.blocdroit{
  display: flex;
  flex-direction: row;
  background-color: #A8E1C5;
  padding: 4.5% 0%;
}

video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

@media(max-width: 784px){
  .boxes{
    display: block;
    position: static;
  }

  nav{
    display: none;
  }

  .burger{
    display: block;
  }
}

@media only screen and (max-width: 600px) {

.contenupage .blocgauche{
  display: block;
  margin-right: 0%;
  
}

.contenupage .blocdroit{
  display: block;
}

.blocdroittxt a{  
  margin-left : 30%;
  margin-right : 30%;
  text-align: center;
}

.blocgauchetxt a{  
  margin-left : 30%;
  margin-right: 30%;
  text-align: center;
}
  
  }
